body {
  background-image: url("Images/WorldMap.jpg");
  font-family: Helvetica, arial, sans-serif;
}

.clocks-container {
  background-color: #e1d9bc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 60px auto;
  max-width: 600px;
  padding: 20px;
}

h1 {
  color: #30364f;
  font-family: Helvetica, arial, sans-serif;
  font-size: 46px;
  text-align: center;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
}

.city {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  color: #30364f;
  font-size: 30px;
  margin: 0 0 10px;
}

.current-date,
.date {
  color: #acbac4;
  opacity: 0.7;
}

.current-time,
.time {
  color: #30364f;
  font-size: 42px;
  font-weight: bold;
}

.current-time small,
.time small {
  color: #30364f;
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
}
