body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("WorldMapBlue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Helvetica, arial, sans-serif;
  min-height: 100vh;
  margin-bottom: 60px;
}

.clocks-container {
  background-color: #4c82a3;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 60px auto;
  margin-top: 80px;
  max-width: 600px;
  padding: 20px;
}

h1 {
  color: #222443;
  font-family: Helvetica, arial, sans-serif;
  font-size: 46px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
}

.city {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  color: #222443;
  font-size: 30px;
  margin: 0 0 10px;
}

.current-date,
.date {
  color: #bfbfbf;
  opacity: 0.7;
}

.current-time,
.time {
  color: #222443;
  font-size: 42px;
  font-weight: bold;
}

.current-time small,
.time small {
  color: #222443;
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  color: #383636;
  height: 60px;
  font-family: Helvetica, arial, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
